<header class="header">
  <div class="bottom-bar">
    <div class="bottom-bar__content">
      <div class="bottom-bar__logo">
        <a routerLink="">
          <img class="logo__img" src="oppa-logo.png" alt="oppa-logo" />
        </a>
      </div>
      <nav [ngClass]="{ 'nav--open': isMenuOpen }" class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" routerLink="/newpost">Add Post</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" [routerLink]="['', 'category']"
              >Post by category</a
            >
          </li>
          <li *ngIf="isAuthLoaded(); else loading">
            <ng-container *ngIf="authService.currentUser(); else signIn">
              <a (click)="logout()" class="btn-stylized out">Sign out</a>
            </ng-container>
            <ng-template #signIn>
              <a routerLink="/login" class="btn-stylized">Sign in</a>
            </ng-template>
          </li>
          <ng-template #loading>
            <i class="fa-solid fa-user"></i>
          </ng-template>
        </ul>
      </nav>
      <div
        class="hamburger"
        [ngClass]="{ 'hamburger--open': isMenuOpen }"
        (click)="toggleMenu()"
      >
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </div>
</header>
