<header class="header">
  <div class="bottom-bar">
    <div class="bottom-bar__content">
      <div class="bottom-bar__logo">
        <a routerLink="">
          <img class="logo__img" src="oppa-logo.png" alt="oppa-logo" />
        </a>
      </div>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link">Post By Category</a>
          </li>
          <li class="nav__item">
            <a class="nav__link">Add Post</a>
          </li>
          <li>
            <a routerLink="/register" class="btn-stylized">signup</a>
          </li>
        </ul>
      </nav>
      <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </div>
</header>
