<header class="header">
  <div class="bottom-bar">
    <div class="bottom-bar__content">
      <div class="bottom-bar__logo">
        <a routerLink="">
          <img class="logo__img" src="oppa-logo.png" alt="oppa-logo" />
        </a>
      </div>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link">Post By Category</a>
          </li>
          @if (authService.currentUser()) {
          <li class="nav__item">
            <a class="nav__link" routerLink="/addpost">Add Post</a>
          </li>
          <li>
            <a (click)="logout()" routerLink="/login" class="btn-stylized out"
              >Sign out</a
            >
          </li>
          }@else {
          <li class="nav__item">
            <a class="nav__link" routerLink="/login">Add Post</a>
          </li>
          <li>
            <a routerLink="/login" class="btn-stylized">Sign in</a>
          </li>
          }
        </ul>
      </nav>
      <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </div>
</header>
