<div class="container">
  <div class="wrapper">
    <div class="title"><span>Register</span></div>
    <form>
      <div class="row">
        <input type="text" placeholder="Username " required />
      </div>
      <div class="row">
        <input type="text" placeholder="Email" required />
      </div>
      <div class="row">
        <input class="row" type="password" placeholder="Password" required />
      </div>
      <div class="row button">
        <button class="btn-stylized" type="submit">Submit</button>
      </div>
      <div class="signup-link">
        Are you a member? <a routerLink="/login">Sigin now</a>
      </div>
    </form>
  </div>
</div>
